services:
  frontend:
    build: .
    restart: unless-stopped
    ports:
      - ${CADDY_PORT:-5173}:80
      - "443:443"
      - "443:443/udp"
    volumes:
      - caddy_data:/data

volumes:
  caddy_data:
