services:
  frontend:
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro # mount the config file for dev
      - ./nginx-snippets:/etc/nginx/snippets:ro # mount the config file for dev
      - ./testcerts:/etc/letsencrypt:ro  # mount test certs (read-only)
      - nginx_logs:/var/log/nginx
    develop:
      watch:
        - path: ./nginx.conf
          action: restart
          # target: /etc/nginx/conf.d/default.conf #no need since im mounting it already
          # Why mount the nginx config file when I can just use the watch feature with action: sync+restart (implied by having a target) to copy the fresh file and restart?
          # Because: initially config file state is 'state-a' then i build and start the container; container has the config file in state a.
          # Now i change the config file and state is 'state-b' watch kicks in and sync + restart (copy the config file with state-b). It works!
          # I bring down the container and start it again. Now the container has the config file in 'state-a' not 'state-b' unless i rebuild it.
          # Triggering the watch by saving the file works at this point, but its a hack really.
        - path: ./nginx-snippets/security-headers.conf
          action: restart
        - path: ./src/
          action: rebuild
        - path: ./package.json
          action: rebuild
