services:
  frontend:
    build: ./frontend
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    # depends_on:
    #   backend:
    #     condition: service_healthy
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro  # mount Certbot certificates (read-only)
      - nginx_logs:/var/log/nginx

volumes:
  nginx_logs:
